:root{
    background-color: black;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    color: var(--primary-color);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

input, textarea, button, select {
    font: inherit;
}

::selection {
    background-color: var(--primary);
    color: var(--secondary-color);
}

@media (max-width: 37.5rem) {
    :root {
        --gap: 30px;
    }
    html {
        font-size: 70%; /* as long as the smallest font is still legible */
    }
}