:root {
    --background-color: white;
    --primary-color: black;
    --secondary-color: white;
    --box-shadow-color: #666666;
    --font-family: 'Arial, sans-serif';
    --transition-duration: 0.3s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color var(--transition-duration), color var(--transition-duration), background-image var(--transition-duration);
    min-height: 100vh;
    padding: 20px; /* Add padding around the body to show background */
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    body {
        background-attachment: scroll;
    }
}

@media (max-width: 600px) {
    body {
        background-size: cover;
        background-position: top;
    }
}

main {
    flex: 1;
}

input, textarea, button, select {
    font: inherit;
}

::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

button:hover, .btn:hover {
    background-color: #333; /* Example darkened color */
}

nav-bar, search-form, selection-screen, display-area, previous-searches {
    transition: background-color var(--transition-duration), color var(--transition-duration), box-shadow var(--transition-duration);
}

input {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.container {
    box-shadow: 0 4px 8px var(--box-shadow-color);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

/* Theme-specific background classes */
.default-background {
    background-image: url('/src/assets/images/cool-background.png');
}

.kawasaki-background {
    background-image: url('/src/assets/images/Kawsaki-gradient.png');
}

.honda-background {
    background-image: url('/src/assets/images/honda-background.webp');
}

.yamaha-background {
    background-image: url('/src/assets/images/yamaha-background.webp');
}

.ducati-background {
    background-image: url('/src/assets/images/ducati-background.webp');
}

.bmw-background {
    background-image: url('/src/assets/images/bmw-background.webp');
}

.harley-davidson-background {
    background-image: url('/src/assets/images/harley-davidson-background.webp');
}

.suzuki-background {
    background-image: url('/src/assets/images/suzuki-background.webp');
}

.aprilia-background {
    background-image: url('/src/assets/images/aprilia-background.webp');
}

.triumph-background {
    background-image: url('/src/assets/images/triumph-background.webp');
}

.bajaj-background {
    background-image: url('/src/assets/images/bajaj-background.webp');
}

.cleveland-background {
    background-image: url('/src/assets/images/cleveland-background.webp');
}

.gasgas-background {
    background-image: url('/src/assets/images/gasgas-background.webp');
}

.hero-background {
    background-image: url('/src/assets/images/hero-background.webp');
}

.ktm-background {
    background-image: url('/src/assets/images/ktm-background.webp');
}

.italjet-background {
    background-image: url('/src/assets/images/italjet-background.webp');
}

.enfield-background {
    background-image: url('/src/assets/images/enfield-background.webp');
}

.zero-background {
    background-image: url('/src/assets/images/zero-background.webp');
}

.indian-background {
    background-image: url('/src/assets/images/indian-background.webp');
}

@media (max-width: 37.5rem) {
    :root {
        --gap: 30px;
    }
    html {
        font-size: 70%; /* Ensure the smallest font is still legible */
    }
}